<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <!--    레이아웃 구성중 토큰 검증-->
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <!--    레이아웃 구성중 토큰 검증-->
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <title th:if="${pageTitle != null}" th:text="${pageTitle}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}"><!--    공통적인 디자인 경로-->
    <link rel="stylesheet" type="text/css" th:each="file : ${addCommonCss}"
          th:href="@{/common/css/{file}.css(file=${file})}"><!--    공통적인 디자인 경로-->
    <script th:src="@{/common/js/common.js}"></script><!--     공통적인 js경로-->
    <script th:each="file : ${addCommonScript}" th:src="@{/common/js/{file}.js(file=${file})}"></script><!--     공통적인 js경로-->

    <link rel="stylesheet" type="text/css" th:href="@{/mobile/css/style.css}">
    <link rel="stylesheet" type="text/css" th:each="file : ${addCss}"
          th:href="@{/mobile/css/{file}.css(file=${file})}">

    <th:block layout:fragment="addCss"></th:block>

    <script th:src="@{/mobile/js/common.js}"></script>
    <script th:each="file : ${addScript}" th:src="@{/mobile/js/{file}.js(file=${file})}"></script>

    <th:block layout:fragment="addScript"></th:block>

</head>
<body>
<header th:replace="~{mobile/outlines/header::common}"></header>
<main layout:fragment="content"></main>
<footer th:replace="~{mobile/outlines/footer::common}"></footer>
<iframe name="ifrmProcess" class="dn"></iframe>
</body>
</html>